/* fill cell blue */
.colorBlue
{

height:50px;
size:100%;
  background-color: rgb(21,107,237);
}





.topborderFont
{
  font-family: "Edwardian Script ITC Regular";
  padding:0;
    border:0;
    font-size:200%;

}

.borderPicture
{
  height: 600px;
background:url("image/overwatchBorderOne.png") no-repeat center center;
background-size: cover;

}




/* only picture with this specific sizw*/
/* so we give it a id */
#lk
{
  height: 300px;
  width: 300px;
position: relative;
border-radius:60%;



}







/* slideshow classes below */
