/* fill cell blue */
.colorBlue
{

height:50px;
size:100%;
  background-color: rgb(21,107,237);
}





.topborderFont
{
  font-family: "Edwardian Script ITC Regular";
  padding:0;
    border:0;
    font-size:200%;

}

.borderPicture
{
  height: 600px;
background:url("image/tracer.png") no-repeat center center;
background-size: cover;

}




/* only picture with this specific sizw*/
/* so we give it a id */
#lk
{
  height: 100px;
  width: 100px;
position: relative;
border-radius:60%;

}



/* border columns to see how the cell size is */
.border {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.owLogo{
  height: 20px;
  width: auto;

}

/* tracer size */
.tracerSize{
height: 100%;
width: 100%;
}
